<link rel="stylesheet" href="/control/style.css" type="text/css">
<img id="waifupara-logo" src="/control/waifuparalogo2.jpg"></img>
<div style="border-bottom: solid 1px #9E9E9E;width: 100%; height:10px;"></div>
<div id="pathlinks"></div>
<hr>

<script type="text/javascript">
(function createPathLinks(){
	let pathfrag = document.createDocumentFragment();

	//let linkparse = /(\w+:\/{2,})((?:\w+\.)\w+(?:\.\w+)+)(\/.+)/.exec(window.location.href);
	let linkparse = /(\w+:\/{2,5})([a-zA-Z0-9.]+)(\/.+)?/.exec(window.location.href);

	let protocol = linkparse[1];
	let domain = linkparse[2];

	let roota = document.createElement('a');
	roota.href = protocol + domain;
	roota.textContent = domain;
	pathfrag.appendChild(roota);

	if (typeof(linkparse[3]) !== 'undefined'){
		let path = linkparse[3];
		let splitpath = path.match(/\/[^\/]+/g);

		for(let i = 0; i < splitpath.length; i++){
			let a = document.createElement('a');
			a.href = protocol + domain + splitpath.slice(0,i+1);
			a.textContent = splitpath[i];
			pathfrag.appendChild(a);
		}
	}

	document.getElementById("pathlinks").append(pathfrag);

})();
</script>


<!-- Override Sort Functionalty -->
<script>
//replace the header line and add onclick=sort() function
function prepareSort(){
	let table = document.getElementsByTagName("table")[0];
	let ths = table.rows[0].getElementsByTagName("th");
	for (let i = 0; i < ths.length; i++){
		let th = ths[i];
		
		let columnname;
		//add onclick=sort(colnum, sorttype) to every header
		if (th.firstElementChild.textContent){
			columnname = th.firstElementChild.textContent;
			if (th.firstElementChild.textContent == "Size") {
				th.setAttribute("onclick", `sortTable(${i}, 'sizeint')`);
			} else {
				th.setAttribute("onclick", `sortTable(${i})`);
			}
		} else if (th.firstElementChild.getAttribute("alt")){
			columnname = "T";
			th.setAttribute("onclick", `sortTable(${i}, 'fileANDname')`);
		} else {
			columnname = "";
		}
		th.innerHTML = "";
		th.textContent = columnname;
	}
}
// add size values to size cells to make sorting easier
function remakeSizeColumn(){
	let allsizecells = document.querySelectorAll("table tr > td:nth-child(4)");
	
	function getSizeInt(size_str){
		// "  -  "
		if ( /\s*-\s*/.test(size_str) ){
			return -1;
		}
		// " 123K" oder "4M" oder "4.2M"
		let psize = /\s*(\d+(?:\.\d+)?)([KMGT])?\s*/.exec(size_str);
		let size = 0;
		if (psize){
			switch(psize[2]){
				case 'T':
					size = +psize[1] *1000000000000;
					break;
				case 'G':
					size = +psize[1] * 1000000000;
					break;
				case 'M':
					size = +psize[1] * 1000000;
					break;
				case 'K':
					size = +psize[1] * 1000;
					break;
				default:
					size = +psize[1];
			}
		}
		return size;
	}
	
	allsizecells.forEach(td => {
		let sizeInt = getSizeInt(td.textContent);
		td.sizeint = sizeInt;
	});
}

//sort function
function sortTable(colnum, sortby){
	let table = document.getElementsByTagName("table")[0];
	let headrow = table.rows[0];
	let head = headrow.children[colnum];
	let rows = Array.from(table.rows).slice(1);
	
	if (head.classList.contains("row-sort-down")){
		head.classList.remove("row-sort-down");
		head.classList.add("row-sort-up");

		//reverse table
		for (let i = rows.length -1; i >= 0; i--){
			rows[i].parentNode.appendChild(rows[i]);
		}
	} else if(head.classList.contains("row-sort-up")) {
		head.classList.remove("row-sort-up");
		head.classList.add("row-sort-down");

		//reverse table
		for (let i = rows.length -1; i >= 0; i--){
			rows[i].parentNode.appendChild(rows[i]);
		}
	} else {
		let compfun;
		let compfuns = {
			name:(a,b) => {if (a[colnum].textContent.toLowerCase() >= b[colnum].textContent.toLowerCase()){return 1;}else{return -1;}},
			size:(a,b) => {return /^\d+(?:.\d+)?/.exec(a[colnum].textContent) - /^\d+(?:.\d+)?/.exec(b[colnum].textContent);},
			sizeint:(a,b) => { return a[colnum].sizeint - b[colnum].sizeint;},
			filetype:(a,b) => {if (a[colnum].firstElementChild.alt >= b[colnum].firstElementChild.alt){return 1;}else{return -1;}},
			fileANDname:(a,b) => {
				let at = a[colnum].getElementsByTagName("img")[0].alt;
				let bt = b[colnum].getElementsByTagName("img")[0].alt;
				if (at == bt){
					if (a[1].textContent.toLowerCase() >= b[1].textContent.toLowerCase()){return 1;}else{return -1;}
				} else{
					if (at == '[DIR]'){return -1;}
					if (bt == '[DIR]'){return 1;}
					else { if (at >= bt){return 1;}else{return -1;} }
				}
			}
		};
		if (sortby == null){
			compfun = compfuns['name'];
		} else {
			compfun = compfuns[sortby];
		}

		let sorted = rows.sort((a,b) => {
			return compfun(a.cells, b.cells);
		});

		let frag = document.createDocumentFragment();
		let parentdiv = sorted[0].parentNode;
		for (let i = 0; i < sorted.length; i++) {
			//sorted[i].parentNode.appendChild(sorted[i]);
			frag.appendChild(sorted[i]);
		}
		parentdiv.appendChild(frag);
		Array.from(document.querySelectorAll('.row-sort-up, .row-sort-down')).forEach(function(el) { 
			el.classList.remove('row-sort-up');
			el.classList.remove('row-sort-down');
		});
		head.classList.add("row-sort-down");
	}
}



//check Document.ready
var tid = setInterval( function () {
	if ( document.readyState !== 'complete' ) return;
	clearInterval( tid );       
	prepareSort();
	remakeSizeColumn();
}, 50 );

</script>