#waifupara-logo {
	max-height: 100px;
}

/* waifuparabtfy script css */

#pathlinks a {
	text-decoration: none;
	box-shadow: inset -2px -4px 10px -2px #dbd2db;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Verdana;
	font-size: 1.2em;
	font-weight:bold;
	padding: 6px 5px;
	text-decoration:none;
	text-shadow:-1px 1px 1px #ffffff;
	margin-right: 5px;
	margin-top: 5px;
}
#pathlinks a:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
#pathlinks a:last-of-type {
	color: yellowgreen;
}

#waifupara-logo{
	max-height:100px;
}

/* TABLE */

table {
	display: table;
	min-width: 70%;
	margin-right: auto;
	margin-left: -10px;
	font-size: 1.3em;
	border-spacing: 1.2em 0;
	overflow-x: auto;
	font-family: monospace;
}
table tr:first-child {
	display: table-row;
}
table th {
	background-color: #e4e4e4;
	cursor: pointer;
	text-align: left;
	user-select: none
	/*text-indent: 5px;*/
}

table th * {
	/*padding-left: 5px;*/
	text-decoration: none;
	color: black;
	/*text-indent: 5px;*/
}

table td,th {
	display: table-cell;
	line-height: 1.7;
	vertical-align: middle;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
table tr {
	display: table-row;
	background-color: #fbfbfb;
}
table tr:hover {
	background-color: #00000026;
}

/* column: name (th and td) */
table tr th:nth-child(2),td:nth-child(2) {
	min-width: 600px;
}

/* column: last modified (th and td) */
table tr th:nth-child(3),td:nth-child(3) {
	width: 160px;
}
/* column: size (td) */
table tr td:nth-child(4) {
	text-align: right;
}

/* sort direction symbols */
.row-sort-down:after {
	content: "\25BC";
}
.row-sort-up:after {
	content: "\25B2";
}
/*add space to thead while there is no sort symbol*/
table th:not(.row-sort-down):not(.row-sort-up):after{
	content: "\00a0";
}
